@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>sang le</p>
	<div id="contentPDF" class="modal-body" style="font-size: x-small; color: black;">
   <div style="text-align: center; color: black">
      <div style="font-size: x-large;" class="row font-weight-bold"><u> Pattern List per Style for Development </u></div>
      <div style="font-size: large" id="id-row-style" class="row font-weight-bold"><span> Sytle Code: ACE0643 </span> &nbsp;&nbsp; <span>Style Size: RGL </span>&nbsp;&nbsp;<span>Style Color: 002 - NAVY - 03</span>&nbsp;&nbsp;<span>Rev. No.: 002</span></div>
      <div style="font-size: large" id="id-row-buyer" class="row font-weight-bold"><span>Buyer Stylecode: 6354404</span>&nbsp; <span>Buyer Style Name: ADIDAS REIN</span></div>
   </div>
   <div class="row">
      <div class="form-horizontal">
         <table class="table table-bordered border-primary">
            <thead>
               <tr>
                  <th scope="col">MainCode</th>
                  <th scope="col">ItemCode</th>
                  <th scope="col">Colorways</th>
                  <th scope="col">Item Name</th>
                  <th scope="col">Total Consum</th>
                  <th style="width:20px;" scope="col">Unit</th>
               </tr>
            </thead>
            <tbody id="pdfBodyTable">
               <tr id="pdfTrBodyTable">
               </tr>
               <tr>
                  <td scope="row">BSTACE0000028</td>
                  <td>BSTACE0000028</td>
                  <td>BLACK-C9760</td>
                  <td>THREAD POLYESTER CORE SPUN 2s/400D - TEX-80</td>
                  <td>67</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">FABACE0000067</td>
                  <td>FABACE0000067</td>
                  <td>BLACK 02A</td>
                  <td>POLY 150d NON WR PU1 58''</td>
                  <td>0.1970</td>
                  <td>YD</td>
               </tr>
               <tr>
                  <td scope="row">FABACE0000076</td>
                  <td>FABACE0000076</td>
                  <td>BLACK</td>
                  <td>100%  RECYCLE POLYESTER 600d 68T PUx2 C0 58'' VOL.221-NO.83</td>
                  <td>0.3970</td>
                  <td>YD</td>
               </tr>
               <tr>
                  <td scope="row">FOMACE0000318</td>
                  <td>FOMACE0000318</td>
                  <td>BLACK(12x42)#P-63545</td>
                  <td>FOAM PE 03</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000003</td>
                  <td>LBLACE0000003</td>
                  <td>WHITE</td>
                  <td>HANG TAG ACE (20.7x22.2)cm</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000005</td>
                  <td>LBLACE0000005</td>
                  <td>PURPLE-YELLOW-WHITE</td>
                  <td>HANG TAG ACE REFLECTIVE</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000011</td>
                  <td>LBLACE0000011</td>
                  <td>white</td>
                  <td>LABEL ACE SECURITY (30*20)mm</td>
                  <td>1.01</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000012</td>
                  <td>LBLACE0000012</td>
                  <td>white</td>
                  <td>LABEL ACE ATACA (17*12)mm</td>
                  <td>1.0030</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000029</td>
                  <td>LBLACE0000029</td>
                  <td>WHITE</td>
                  <td>STICKER - HANG TAG ACE SEAL 12S-AD00B (37*57)mm</td>
                  <td>1.01</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000030</td>
                  <td>LBLACE0000030</td>
                  <td>Black/white</td>
                  <td>HANG TAG ACE 17R-AD00 (40*107)mm</td>
                  <td>1.01</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000032</td>
                  <td>LBLACE0000032</td>
                  <td>BLACK/ WHITE</td>
                  <td>STICKER CARTON ACE (120*80)mm</td>
                  <td>0.11</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000034</td>
                  <td>LBLACE0000034</td>
                  <td>WHITE/ BLACK</td>
                  <td>LABEL ACE NAME 21P-N7( 37X 50)MM</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000047</td>
                  <td>LBLACE0000047</td>
                  <td>MATTE GREEN/ WHITE</td>
                  <td>PAPER HANG TAG ACE 22PK-003 ECO W56X H103.402MM</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000002</td>
                  <td>PKGACE0000002</td>
                  <td>BLACK</td>
                  <td>TAG PIN - 210mm</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000003</td>
                  <td>PKGACE0000003</td>
                  <td>SEMI TRANSPARENT</td>
                  <td>TAG PIN - 120mm MUJI</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000004</td>
                  <td>PKGACE0000004</td>
                  <td>CLEAR</td>
                  <td>TAPE OPP CLEAR 15mm</td>
                  <td>0.20</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000005</td>
                  <td>PKGACE0000005</td>
                  <td>CLEAR</td>
                  <td>TAPE OPP CLEAR 72mm</td>
                  <td>0.35</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000041</td>
                  <td>PKGACE0000041</td>
                  <td>ANY</td>
                  <td>CARTON 5PLYS 180g  580 400 470   ACE ADIDAS</td>
                  <td>0.05</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000042</td>
                  <td>PKGACE0000042</td>
                  <td>ANY</td>
                  <td>PAD 5PLYS  400 300</td>
                  <td>0.10</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000075</td>
                  <td>PKGACE0000075</td>
                  <td>TRANSPARENT 500 500</td>
                  <td>POLY BAG PE T0.05 ACE</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PSTACE0000046</td>
                  <td>PSTACE0000046</td>
                  <td>BLACK</td>
                  <td>ACETAL TRIGLIDE PLASTIC KIFCO FXT -30mm</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PSTACE0000055</td>
                  <td>PSTACE0000055</td>
                  <td>BLACK</td>
                  <td>ACETAL &amp; NYLON HOOK NIFCO PLASTIC SSH 30MM (ROTATE HOOK)</td>
                  <td>2</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PSTACE0000056</td>
                  <td>PSTACE0000056</td>
                  <td>BLACK</td>
                  <td>ACETAL RING PLASTIC KIFCO DD -20L</td>
                  <td>2</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">TREACE0000031</td>
                  <td>TREACE0000031</td>
                  <td>WHITE 001A</td>
                  <td>PRINT ACE SILK PRINTING ADIDAS LETTER W130 MM</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">WEBACE0000009</td>
                  <td>WEBACE0000009</td>
                  <td>BLACK</td>
                  <td>PP WEBBING 20mm SMALL GROOVED (900*300) BLACK</td>
                  <td>0.13</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row"></td>
                  <td colspan="5" style="padding: 0px">
                     <table class="table table-bordered border-primary" style="margin: 0px">
                        <thead>
                           <tr>
                              <th style="width:200px;">Main Part</th>
                              <th>Piece Name</th>
                              <th>W</th>
                              <th>E</th>
                              <th>H</th>
                              <th>Qty.</th>
                              <th>Consum.</th>
                              <th>Unit</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td scope="row">038</td>
                              <td>PAT QUAI ĐEO</td>
                              <td>1</td>
                              <td>6</td>
                              <td>6</td>
                              <td>2</td>
                              <td>0</td>
                              <td>Cm</td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               <tr>
                  <td scope="row">WEBACE0000030</td>
                  <td>WEBACE0000030</td>
                  <td>BLACK</td>
                  <td>PP WEBBING 23mm THIN PLAIN DAY (300*300) BLACK</td>
                  <td>1.96</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">WEBACE0000044</td>
                  <td>WEBACE0000044</td>
                  <td>BLACK</td>
                  <td>PP WEBBING 30mm SMALL GROOVED (900*300) BLACK</td>
                  <td>3.05</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row"></td>
                  <td colspan="5" style="padding: 0px">
                     <table class="table table-bordered border-primary" style="margin: 0px">
                        <thead>
                           <tr>
                              <th style="width:200px;">Main Part</th>
                              <th>Piece Name</th>
                              <th>W</th>
                              <th>E</th>
                              <th>H</th>
                              <th>Qty.</th>
                              <th>Consum.</th>
                              <th>Unit</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td scope="row">198</td>
                              <td>quai deo</td>
                              <td>1</td>
                              <td>129</td>
                              <td>129</td>
                              <td>1</td>
                              <td>0</td>
                              <td>Cm</td>
                           </tr>
                           <tr>
                              <td scope="row">021</td>
                              <td>quai xach (tp quai deo tinh tu mieng 35cm-gap giua dai 10cm)</td>
                              <td>1</td>
                              <td>86</td>
                              <td>86</td>
                              <td>2</td>
                              <td>0</td>
                              <td>Cm</td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               <tr>
                  <td scope="row">WEBACE0000056</td>
                  <td>WEBACE0000056</td>
                  <td>BLACK/SILVER</td>
                  <td>POLY WEBBING 20mm REFLECTIVE 10mm BLACK</td>
                  <td>0.06</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">ZPRACE0000008</td>
                  <td>ZPRACE0000008</td>
                  <td>YELOW B-131</td>
                  <td>CHAIN RJ NYLON #5 W32mm P16 1 COLOR</td>
                  <td>0.42</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">ZPRACE0000018</td>
                  <td>ZPRACE0000018</td>
                  <td>Nickel/Free</td>
                  <td>SLIDER NYLON #5 #DF02</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">BSTACE0000020</td>
                  <td>BSTACE0000020</td>
                  <td>BLACK NEW</td>
                  <td>PIPING PE 25mm FLAT</td>
                  <td>0.04</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">BSTACE0000023</td>
                  <td>BSTACE0000023</td>
                  <td>BLACK 095A NEW</td>
                  <td>PIPING PE 3mm INSIDE FULL WING 5mm</td>
                  <td>1.02</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">BSTACE0000028</td>
                  <td>BSTACE0000028</td>
                  <td>BLACK-C9760</td>
                  <td>THREAD POLYESTER CORE SPUN 2s/400D - TEX-80</td>
                  <td>35</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">FABACE0000076</td>
                  <td>FABACE0000076</td>
                  <td>BLACK</td>
                  <td>100%  RECYCLE POLYESTER 600d 68T PUx2 C0 58'' VOL.221-NO.83</td>
                  <td>0.24</td>
                  <td>YD</td>
               </tr>
               <tr>
                  <td scope="row"></td>
                  <td colspan="5" style="padding: 0px">
                     <table class="table table-bordered border-primary" style="margin: 0px">
                        <thead>
                           <tr>
                              <th style="width:200px;">Main Part</th>
                              <th>Piece Name</th>
                              <th>W</th>
                              <th>E</th>
                              <th>H</th>
                              <th>Qty.</th>
                              <th>Consum.</th>
                              <th>Unit</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td scope="row">001</td>
                              <td>than truoc/m</td>
                              <td>21.58</td>
                              <td>55.10</td>
                              <td>55.10</td>
                              <td>1</td>
                              <td>918.62</td>
                              <td>Cm</td>
                           </tr>
                           <tr>
                              <td scope="row">113</td>
                              <td>cdk chinh/m x4</td>
                              <td>3.40</td>
                              <td>5</td>
                              <td>5</td>
                              <td>1</td>
                              <td>17</td>
                              <td>Cm</td>
                           </tr>
                           <tr>
                              <td scope="row">004</td>
                              <td>than sau/m</td>
                              <td>21.55</td>
                              <td>55.10</td>
                              <td>55.10</td>
                              <td>1</td>
                              <td>917.80</td>
                              <td>Cm</td>
                           </tr>
                           <tr>
                              <td scope="row">012</td>
                              <td>Day tui/m</td>
                              <td>20.01</td>
                              <td>32.03</td>
                              <td>32.03</td>
                              <td>1</td>
                              <td>634.78</td>
                              <td>Cm</td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000003</td>
                  <td>LBLACE0000003</td>
                  <td>WHITE</td>
                  <td>HANG TAG ACE (20.7x22.2)cm</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000005</td>
                  <td>LBLACE0000005</td>
                  <td>PURPLE-YELLOW-WHITE</td>
                  <td>HANG TAG ACE REFLECTIVE</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000011</td>
                  <td>LBLACE0000011</td>
                  <td>white</td>
                  <td>LABEL ACE SECURITY (30*20)mm</td>
                  <td>1.01</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000012</td>
                  <td>LBLACE0000012</td>
                  <td>white</td>
                  <td>LABEL ACE ATACA (17*12)mm</td>
                  <td>1.0030</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000029</td>
                  <td>LBLACE0000029</td>
                  <td>WHITE</td>
                  <td>STICKER - HANG TAG ACE SEAL 12S-AD00B (37*57)mm</td>
                  <td>1.01</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000030</td>
                  <td>LBLACE0000030</td>
                  <td>Black/white</td>
                  <td>HANG TAG ACE 17R-AD00 (40*107)mm</td>
                  <td>1.01</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000032</td>
                  <td>LBLACE0000032</td>
                  <td>BLACK/ WHITE</td>
                  <td>STICKER CARTON ACE (120*80)mm</td>
                  <td>0.11</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000034</td>
                  <td>LBLACE0000034</td>
                  <td>WHITE/ BLACK</td>
                  <td>LABEL ACE NAME 21P-N7( 37X 50)MM</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000002</td>
                  <td>PKGACE0000002</td>
                  <td>BLACK</td>
                  <td>TAG PIN - 210mm</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000003</td>
                  <td>PKGACE0000003</td>
                  <td>SEMI TRANSPARENT</td>
                  <td>TAG PIN - 120mm MUJI</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000004</td>
                  <td>PKGACE0000004</td>
                  <td>CLEAR</td>
                  <td>TAPE OPP CLEAR 15mm</td>
                  <td>0.20</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000005</td>
                  <td>PKGACE0000005</td>
                  <td>CLEAR</td>
                  <td>TAPE OPP CLEAR 72mm</td>
                  <td>0.1560</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000042</td>
                  <td>PKGACE0000042</td>
                  <td>ANY</td>
                  <td>PAD 5PLYS  400 300</td>
                  <td>0.0450</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000054</td>
                  <td>PKGACE0000054</td>
                  <td>YELLOW</td>
                  <td>CARTON 5PLYS 180g  580 400 325   ACE ADIDAS</td>
                  <td>0.0223</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000075</td>
                  <td>PKGACE0000075</td>
                  <td>TRANSPARENT 420 350</td>
                  <td>POLY BAG PE T0.05 ACE</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">TREACE0000031</td>
                  <td>TREACE0000031</td>
                  <td>WHITE 001A</td>
                  <td>PRINT ACE SILK PRINTING ADIDAS LETTER W130 MM</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">WEBACE0000009</td>
                  <td>WEBACE0000009</td>
                  <td>BLACK</td>
                  <td>PP WEBBING 20mm SMALL GROOVED (900*300) BLACK</td>
                  <td>0.23</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row"></td>
                  <td colspan="5" style="padding: 0px">
                     <table class="table table-bordered border-primary" style="margin: 0px">
                        <thead>
                           <tr>
                              <th style="width:200px;">Main Part</th>
                              <th>Piece Name</th>
                              <th>W</th>
                              <th>E</th>
                              <th>H</th>
                              <th>Qty.</th>
                              <th>Consum.</th>
                              <th>Unit</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td scope="row">021</td>
                              <td>pat quai xách</td>
                              <td>1</td>
                              <td>22</td>
                              <td>22</td>
                              <td>1</td>
                              <td>0</td>
                              <td>Cm</td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               <tr>
                  <td scope="row">WEBACE0000030</td>
                  <td>WEBACE0000030</td>
                  <td>BLACK</td>
                  <td>PP WEBBING 23mm THIN PLAIN DAY (300*300) BLACK</td>
                  <td>1.08</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">WEBACE0000056</td>
                  <td>WEBACE0000056</td>
                  <td>BLACK/SILVER</td>
                  <td>POLY WEBBING 20mm REFLECTIVE 10mm BLACK</td>
                  <td>0.07</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">ZPRACE0000008</td>
                  <td>ZPRACE0000008</td>
                  <td>YELOW B-131</td>
                  <td>CHAIN RJ NYLON #5 W32mm P16 1 COLOR</td>
                  <td>0.4950</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">ZPRACE0000018</td>
                  <td>ZPRACE0000018</td>
                  <td>Nickel/Free</td>
                  <td>SLIDER NYLON #5 #DF02</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">BSTACE0000020</td>
                  <td>BSTACE0000020</td>
                  <td>Legend Ink F17 AA35</td>
                  <td>PIPING PE 25mm FLAT</td>
                  <td>0.04</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">BSTACE0000023</td>
                  <td>BSTACE0000023</td>
                  <td>LEGEND INK F17 AA35</td>
                  <td>PIPING PE 3mm INSIDE FULL WING 5mm</td>
                  <td>1.02</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">BSTACE0000028</td>
                  <td>BSTACE0000028</td>
                  <td>BLACK-C9760</td>
                  <td>THREAD POLYESTER CORE SPUN 2s/400D - TEX-80</td>
                  <td>15</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">BSTACE0000031</td>
                  <td>BSTACE0000031</td>
                  <td>NAVY C7915</td>
                  <td>THREAD POLYESTER CORE SPUN- 2s/400D TEX-80</td>
                  <td>20</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">FABACE0000076</td>
                  <td>FABACE0000076</td>
                  <td>LEGEND INKF17 AA35</td>
                  <td>100%  RECYCLE POLYESTER 600d 68T PUx2 C0 58'' VOL.221-NO.83</td>
                  <td>0.24</td>
                  <td>YD</td>
               </tr>
               <tr>
                  <td scope="row"></td>
                  <td colspan="5" style="padding: 0px">
                     <table class="table table-bordered border-primary" style="margin: 0px">
                        <thead>
                           <tr>
                              <th style="width:200px;">Main Part</th>
                              <th>Piece Name</th>
                              <th>W</th>
                              <th>E</th>
                              <th>H</th>
                              <th>Qty.</th>
                              <th>Consum.</th>
                              <th>Unit</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td scope="row">001</td>
                              <td>than truoc/m</td>
                              <td>21.58</td>
                              <td>55.10</td>
                              <td>55.10</td>
                              <td>1</td>
                              <td>918.62</td>
                              <td>Cm</td>
                           </tr>
                           <tr>
                              <td scope="row">113</td>
                              <td>cdk chinh/m x4</td>
                              <td>3.40</td>
                              <td>5</td>
                              <td>5</td>
                              <td>4</td>
                              <td>17</td>
                              <td>Cm</td>
                           </tr>
                           <tr>
                              <td scope="row">004</td>
                              <td>than sau/m</td>
                              <td>21.55</td>
                              <td>55.10</td>
                              <td>55.10</td>
                              <td>1</td>
                              <td>917.80</td>
                              <td>Cm</td>
                           </tr>
                           <tr>
                              <td scope="row">012</td>
                              <td>Day tui/m</td>
                              <td>20.01</td>
                              <td>32.03</td>
                              <td>32.03</td>
                              <td>1</td>
                              <td>634.78</td>
                              <td>Cm</td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000003</td>
                  <td>LBLACE0000003</td>
                  <td>WHITE</td>
                  <td>HANG TAG ACE (20.7x22.2)cm</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000005</td>
                  <td>LBLACE0000005</td>
                  <td>PURPLE-YELLOW-WHITE</td>
                  <td>HANG TAG ACE REFLECTIVE</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000011</td>
                  <td>LBLACE0000011</td>
                  <td>white</td>
                  <td>LABEL ACE SECURITY (30*20)mm</td>
                  <td>1.01</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000012</td>
                  <td>LBLACE0000012</td>
                  <td>white</td>
                  <td>LABEL ACE ATACA (17*12)mm</td>
                  <td>1.0030</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000029</td>
                  <td>LBLACE0000029</td>
                  <td>WHITE</td>
                  <td>STICKER - HANG TAG ACE SEAL 12S-AD00B (37*57)mm</td>
                  <td>1.01</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000030</td>
                  <td>LBLACE0000030</td>
                  <td>Black/white</td>
                  <td>HANG TAG ACE 17R-AD00 (40*107)mm</td>
                  <td>1.01</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000032</td>
                  <td>LBLACE0000032</td>
                  <td>BLACK/ WHITE</td>
                  <td>STICKER CARTON ACE (120*80)mm</td>
                  <td>0.11</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">LBLACE0000034</td>
                  <td>LBLACE0000034</td>
                  <td>WHITE/ BLACK</td>
                  <td>LABEL ACE NAME 21P-N7( 37X 50)MM</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000002</td>
                  <td>PKGACE0000002</td>
                  <td>BLACK</td>
                  <td>TAG PIN - 210mm</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000003</td>
                  <td>PKGACE0000003</td>
                  <td>SEMI TRANSPARENT</td>
                  <td>TAG PIN - 120mm MUJI</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000004</td>
                  <td>PKGACE0000004</td>
                  <td>CLEAR</td>
                  <td>TAPE OPP CLEAR 15mm</td>
                  <td>0.20</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000005</td>
                  <td>PKGACE0000005</td>
                  <td>CLEAR</td>
                  <td>TAPE OPP CLEAR 72mm</td>
                  <td>0.1560</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000042</td>
                  <td>PKGACE0000042</td>
                  <td>ANY</td>
                  <td>PAD 5PLYS  400 300</td>
                  <td>0.0450</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000054</td>
                  <td>PKGACE0000054</td>
                  <td>YELLOW</td>
                  <td>CARTON 5PLYS 180g  580 400 325   ACE ADIDAS</td>
                  <td>0.0223</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">PKGACE0000075</td>
                  <td>PKGACE0000075</td>
                  <td>TRANSPARENT 420 350</td>
                  <td>POLY BAG PE T0.05 ACE</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">TREACE0000031</td>
                  <td>TREACE0000031</td>
                  <td>WHITE 001A</td>
                  <td>PRINT ACE SILK PRINTING ADIDAS LETTER W130 MM</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
               <tr>
                  <td scope="row">WEBACE0000014</td>
                  <td>WEBACE0000014</td>
                  <td>NAVY K-233</td>
                  <td>PP WEBBING 20mm SMALL GROOVED (900*300) COLOR</td>
                  <td>0.23</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row"></td>
                  <td colspan="5" style="padding: 0px">
                     <table class="table table-bordered border-primary" style="margin: 0px">
                        <thead>
                           <tr>
                              <th style="width:200px;">Main Part</th>
                              <th>Piece Name</th>
                              <th>W</th>
                              <th>E</th>
                              <th>H</th>
                              <th>Qty.</th>
                              <th>Consum.</th>
                              <th>Unit</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr>
                              <td scope="row">021</td>
                              <td>Pat quai xách (thành phẩm 20cm)</td>
                              <td>1</td>
                              <td>22</td>
                              <td>22</td>
                              <td>1</td>
                              <td>0</td>
                              <td>Cm</td>
                           </tr>
                        </tbody>
                     </table>
                  </td>
               </tr>
               <tr>
                  <td scope="row">WEBACE0000030</td>
                  <td>WEBACE0000030</td>
                  <td>BLACK</td>
                  <td>PP WEBBING 23mm THIN PLAIN DAY (300*300) BLACK</td>
                  <td>1.08</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">WEBACE0000056</td>
                  <td>WEBACE0000056</td>
                  <td>BLACK/SILVER</td>
                  <td>POLY WEBBING 20mm REFLECTIVE 10mm BLACK</td>
                  <td>0.07</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">ZPRACE0000008</td>
                  <td>ZPRACE0000008</td>
                  <td>BLUE M-253</td>
                  <td>CHAIN RJ NYLON #5 W32mm P16 1 COLOR</td>
                  <td>0.4950</td>
                  <td>M</td>
               </tr>
               <tr>
                  <td scope="row">ZPRACE0000018</td>
                  <td>ZPRACE0000018</td>
                  <td>Nickel/Free</td>
                  <td>SLIDER NYLON #5 #DF02</td>
                  <td>1</td>
                  <td>PC</td>
               </tr>
            </tbody>
         </table>
      </div>
      <div style="margin:10px"></div>
   </div>
</div>
</div>

<script>

	function download(){
		var doc = new jsPDF('p','mm',[297, 210]);

		var pdfjs = document.querySelector('#contentPDF');

		// Convert HTML to PDF in JavaScript
		doc.fromHTML(pdfjs, {
			callback: function(doc) {
				doc.save("output.pdf");
			},
			x: 10,
			y: 10
		});
		doc.save();
		console.log('hi sang');
	}
	function getPDF() {
  var doc = new jsPDF();
 
  // We'll make our own renderer to skip this editor
  var specialElementHandlers = {
    '#getPDF': function(element, renderer){
      return true;
    },
    '.controls': function(element, renderer){
      return true;
    }
  };

  // All units are in the set measurement for the document
  // This can be changed to "pt" (points), "mm" (Default), "cm", "in"
  var pdfjs = document.querySelector('#contentPDF');
  doc.fromHTML(pdfjs, 15, 15, {
    'width': 170, 
    'elementHandlers': specialElementHandlers
  });

  doc.save('Generated.pdf');
}


function createPDF() {
    getCanvas().then(function (canvas) {
        var pdf = new jsPDF("p", "mm", "a4");
        var width = pdf.internal.pageSize.width;
        var height = pdf.internal.pageSize.height;
        var imgData = canvas.toDataURL('image/jpg', 1.0);
        // due to lack of documentation; try setting w/h based on unit
        pdf.addImage(imgData, 'JPEG', 1, 1, width, height);
        pdf.save('QCEndlineDefectDashboard.pdf');
    });
}

function getCanvas() {
	var formpdf = document.querySelector('#contentPDF');
    return html2canvas(formpdf, {
        imageTimeout: 2000,
        removeContainer: false
    });
}

function test() {
  // Get the element.
  var element = document.getElementById('contentPDF');

  // Generate the PDF.
  var pdf = html2pdf().from(element).set({
	x: 0,
	y: 0,
    filename: 'hi.pdf',
    pagebreak: { mode: 'avoid-all', before: '#page2el' },
    jsPDF: {orientation: 'portrait', unit: 'in', format: 'letter', compressPDF: true}
  });
  pdf.save();
}
</script>
